* {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1 {
  background-color: rgb(144, 247, 144);
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vw;
  justify-content: space-evenly;
  
}
img{
  height: 200px;
  width: 250px;
  border: 4px solid rgb(1, 28, 54); 
  border-radius: 10px;
  padding: 1vw ;
  cursor: pointer;
  margin-top: 25px;

}
img:hover{
  height: 200px;
  width: 250px;
  box-shadow: 3px 3px  black;
}
.MRP{
  font-size: 30px;
  color:orange;
  
}
.Amount{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.price{
  font-size: 25px;
}
#btn{
  color: white;
  background-color: greenyellow;
  margin: 5px;
  padding: 0.8vw;
  font-size: 20px;
  border-radius: 10px;

}
#btn:hover {
  color: white;
  background-color: green;
  margin: 5px;
  padding: 0.8vw;
  font-size: 20px;
  border-radius: 10px;
}
.item1box{
  border: 2px solid rgb(13, 147, 231);
  height: 240px;
  width: 280px;
  align-items: center;
  text-align: center;
}
.item2box{
  border: 2px solid rgb(13, 147, 231);
  height: 240px;
  width: 280px;
  align-items: center;
  text-align: center;
}
.item3box{
  border: 2px solid rgb(13, 147, 231);
  height: 240px;
  width: 280px;
  align-items: center;
  text-align: center;
}
.item4box{
  border: 2px solid rgb(13, 147, 231);
  height: 240px;
  width: 280px;
  align-items: center;
  text-align: center;
}
.item5box{
  border: 2px solid rgb(13, 147, 231);
  height: 240px;
  width: 280px;
  align-items: center;
  text-align: center;
}
.item6box{
  border: 2px solid rgb(13, 147, 231);
  height: 240px;
  width: 280px;
  align-items: center;
  text-align: center;
}
.Name{
  margin: 10px;
}
footer{
  background-color: #333;
  color: white;
  text-align: center;
  margin: 10px;
}
